
.about-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-about{
    font-size: 70px;
    margin: 30px 0;
    border-top: solid rgb(7, 200, 7) 2px;
}
.text{
    margin: 10px 0;
}
.about-cont{
    max-width: 550px;
    padding: 20px;
}
.text-about>h4{
    font-size: 30px;
}
.text-about>h5{
    font-size: 20px;
}
.text-about>p{
    font-weight: 100;
    font-size: 18px;
}
button{
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    margin: 20px 0 0 0;
}
.skills-about>h4{
    font-size: 25px;
    margin: 20px 0;
}
.icon-cont{
    margin: 10px;
    padding: 40px 0;
    border-bottom: solid rgb(7, 200, 7) 2px;
}
.icon-skill{
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    background: #fff;
    width: 80px;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}
.icon-skill:hover{
    box-shadow: 2px 8px 12px 3px rgba(0, 0, 0, 0.5);
    transform:rotate(0.06turn);
}
@media (max-width:600px) {
    .about-container{
        flex-direction: column;
    }
}